<div class="row">
    <div class="col-xs-12">
        <img class="img-responsive" src="" alt="">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Nome da Receita</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button 
                type="button" 
                class="btn btn-primary dropdown-toggle">
                    Gerenciar Receitas
                    <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Adicionar Ingredientes à lista</a></li>
                <li><a href="#">Editar Receita</a></li>
                <li><a href="#">Apagar Receita</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Descricão
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingredientes
    </div>
</div>